{%extends 'base/base.html'%}
{% load humanize %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% block title %} Project Task Page {% endblock %}
</head>
<body>
    {%block content%}
		<h4>Projects tasks:</h4>

		{%for task in object_list%}
				{{task.count}}
						<table class="table table-striped table-hover table-bordered">
							<td>
									  <div class="card-body">
										<h5 class="card-title">{{task.title}}</h5>
										<hr>
										<li>{{task.detail}}</li>
										{%if not task.status %}
											<li>Status : Unfinished </li>
										{%else%}
											<li>Status : Finished</li>
										{%endif%}
										  <li>Token: {{task.token}}</li>
											<br>
											<a href="{% url 'task:update_task' task.token %}" class="btn btn-outline-secondary btn-sm">Update</a>
											<a href="{% url 'task:delete_task' task.token %}" class="btn btn-outline-danger btn-sm">Delete</a>
									  </div>
							</td>
						</table>
			{% empty %}
				<h4>No tasks Available</h4>
    			<br><a class="btn btn-secondary" href="{% url 'project:create_project_task' view.kwargs.token %}">Create new one!</a> <br>
			{%endfor%}
			<br><a href="{% url 'project:project_list' %}" class="btn btn-outline-secondary btn-sm">Project List</a>

    {%endblock%}
</body>
</html>

<tr>
			
