{%extends 'base.html'%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Api list</title>
</head>
<body>
{%block content%}
<b>Task add</b>
<li>curl {{ request.META.HTTP_HOST }}/api/v1/add/<a href="{%url 'account:token'%}">{token}</a> </li>
<hr>
<b>Task list</b>
<li>curl {{ request.META.HTTP_HOST }}/api/v1/list/<a href="{%url 'account:token'%}">{token}</a> </li>
<hr>
<b>Task detail</b>
<li>curl {{ request.META.HTTP_HOST }}/api/v1/detail/{task_token}/<a href="{%url 'account:token'%}">{token}</a> </li>
<hr>
<b>Task delete</b>
<li>curl {{ request.META.HTTP_HOST }}/api/v1/delete/{task_token}/<a href="{%url 'account:token'%}">{token}</a> </li>
<hr>
{%endblock%}
</body>
</html>