{%extends 'base.html'%}
{% load humanize %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>home page</title>
</head>
<body>
    {%block content%}
    		{%if object_list.count == 0%}
    			<h3>You dont have any todo... </h3>
    			<a href="{%url 'todo:CreateTask'%}">Create new one!</a>
    		{%else%}
		    	{%for tasks in object_list%}
	    				{{tasks.count}}
						    	<table class="table table-striped table-hover table-bordered">
							        <td>
							        		  <div class="card-body">
								        		<h5 class="card-title">{{tasks.name}}</h5>
								        		<hr>
								        		<li>{{tasks.detail}}</li>
												<li>Start: {{tasks.time_to_start|naturaltime}}</li>
								        		{%if tasks.done == False%}
								        			<li>Status : Unfinished </li>
												{%else%}
													<li>Status : Done</li>
												{%endif%}
								        			<br>
								        			<a href="{% url 'todo:updateTask' tasks.pk %}" class="btn btn-outline-secondary btn-sm">Datail</a>
													<a href="{%url 'todo:DeleteTask'  tasks.pk%}" class="btn btn-outline-danger btn-sm">Delete</a>
								        	  </div>
									</td>
								</table>
				
					{%endfor%}
								{% if is_paginated %}
								<hr>
								<nav aria-label="Page navigation example">
									<ul class="pagination justify-content-center pagination-sm">
										{% if page_obj.has_previous %}

										  {% if not search %}
										  <li class="page-item">
											  <a class="page-link" href="{% url 'todo:home' %}?page={{ page_obj.previous_page_number }}" tabindex="-1">Previous</a>
										  </li>
										  {% else %}
											<li class="page-item">
											  <a class="page-link" href="{% url 'todo:home' %}?{{search}}&page={{ page_obj.previous_page_number }}" tabindex="-1">Previous</a>
										  </li>
										  {% endif %}
										{% else %}
										<li class="page-item disabled">
											<a class="page-link" href="#" tabindex="-1">Previous</a>
										</li>
										{% endif %} 
										{% for object in page_obj.paginator.page_range %}
											<li class="page-item"><a class="page-link" href="{% url 'todo:home' %}?page={{ forloop.counter }}">{{ forloop.counter }}</a></li>
										{% endfor %} 
										{% if page_obj.has_next %}
										  {% if not search %}
										  <li class="page-item">
											  <a class="page-link" href="{% url 'todo:home' %}?page={{ page_obj.next_page_number }}">Next</a>
										  </li>
										  {% else %}
											<li class="page-item">
											  <a class="page-link" href="{% url 'todo:home' %}?{{search}}&page={{ page_obj.next_page_number }}">Next</a>
										  </li>
										  {% endif %}
										{% else %}
										<li class="page-item disabled">
											<a class="page-link" href="#">Next</a>
										</li>
										{% endif %}
									</ul>
								</nav>
								{% endif %}
				
			  {% endif %}
			

    {%endblock%}
</body>
</html>

<tr>
			
