{%extends 'base.html'%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>home page</title>
</head>
<body>
    {%block content%}
    
    	{%if user.is_authenticated%}
		    	{%for tasks in object_list%}
				    	<table class="table table-striped table-hover table-bordered">
					        <td>
					        		  <div class="card-body">
						        		<h5 class="card-title">{{tasks.name}}</h5>
						        		<hr>
						        		<li>{{tasks.detail}}</li>
						        		<li>beginning time : {{tasks.time_to_start}}</li>
						        		<li>End time : {{tasks.time_to_finish}}</li>
						        		{%if tasks.done == False%}
						        			<li>Status : Unfinished </li>
						        			<br>
						        			<a href="{% url 'todo:updateTask' tasks.pk %}" class="btn btn-outline-secondary btn-sm">Update</a>
											<a href="{%url 'todo:DeleteTask'  tasks.pk%}" class="btn btn-outline-danger btn-sm">Delete</a>
						        		{%else%}
						        			<li>Status : Done</li>
						        		{%endif%}
						        	  </div>
							</td>
						</table>
				{%endfor%}
			
	    {%else%}
	        welcome to django todo app site, first please login
	    <br>
	        <a href="{%url 'account:login' %}">Login</a>
    	{%endif%}
    {%endblock%}
</body>
</html>

<tr>
			
