{%extends 'base.html'%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>home page</title>
</head>
<body>
    {%block content%}
    		{%if object_list.count == 0%}
    			<h3>You dont have any todo... </h3>
    			<a href="{%url 'todo:CreateTask'%}">Create new one!</a>
    		{%else%}
		    	{%for tasks in object_list%}
	    				{{tasks.count}}
						    	<table class="table table-striped table-hover table-bordered">
							        <td>
							        		  <div class="card-body">
								        		<h5 class="card-title">{{tasks.name}}</h5>
								        		<hr>
								        		<li>{{tasks.detail}}</li>
								        		<li>beginning time : {{tasks.time_to_start}}</li>
								        		<li>End time : {{tasks.time_to_finish}}</li>
								        		{%if tasks.done == False%}
								        			<li>Status : Unfinished </li>
								        			<br>
								        			<a href="{% url 'todo:updateTask' tasks.pk %}" class="btn btn-outline-secondary btn-sm">Update</a>
													<a href="{%url 'todo:DeleteTask'  tasks.pk%}" class="btn btn-outline-danger btn-sm">Delete</a>
								        		{%else%}
								        			<li>Status : Done</li>
								        		{%endif%}
								        	  </div>
									</td>
								</table>
				{%endfor%}
			{%endif%}
			

    {%endblock%}
</body>
</html>

<tr>
			
