{% extends 'base.html' %}
  <title>register</title>
{% load crispy_forms_tags %}

{% block content %}

{% if form.errors %}
	<div class="alert alert-warning alert-dismissible fade show" role="alert">
            There was an error with your informations...
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
          </div>
{% endif %}
	<h1>Register</h1>
<br/>
		<form action="{% url 'account:register_user' %}" method=POST>
			{% csrf_token %}
			{{ form.username|as_crispy_field }}<hr>
			{{ form.first_name|as_crispy_field }}<hr>
			{{ form.last_name|as_crispy_field }}<hr>
			{{ form.email|as_crispy_field }}<hr>
			{{ form.password1|as_crispy_field }}<hr>
			{{ form.password2|as_crispy_field }}<hr>


<br/><br/>
			<input type="submit" value="Submit" class="btn btn-secondary">
		</form>
<br/><br/>
{% endblock %}