{%extends 'base/base.html'%}
  <title>register</title>
{% load crispy_forms_tags %}

{% block content %}

{% if form.errors %}
	<div class="alert alert-warning alert-dismissible fade show" role="alert">
            There was an error with your informations...
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
          </div>
{% endif %}
	<h1>Register</h1>
<br/>
		<form action="{% url 'account_signup' %}" method=POST>
			{% csrf_token %}
			{{ form.email | as_crispy_field }}<hr>
			{{ form.password | as_crispy_field }}



<br/><br/>
			<input type="submit" value="Register" class="btn btn-success">
		</form>
<br/><br/>
{% endblock %}