<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="{%url 'todo:home'%}">Todo List</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        {% if user.is_authenticated %}
        <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Add
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="{%url 'todo:CreateTask'%}">Add Task</a>
          <a class="dropdown-item" href="{%url 'todo:CreateProject'%}">Add Project</a>
          <a class="dropdown-item" href="{%url 'todo:CreateRoutine'%}">Add Routine</a>
          <div class="dropdown-divider"></div>
        </div>
      </li>
              <li class="nav-item">
          <a class="nav-link" href="{% url 'todo:token' %}">Token</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{%url 'api:api-list'%}">API</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'account_logout' %}">Logout</a>
        </li>

      {% else %}
        <li class="nav-item">
          <a class="nav-link" href="{% url 'account_signup' %}">Register</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="{% url 'account_login' %}">Login</a>
        </li>
      {% endif %}

      </ul>
        {%if request.user.is_authenticated%}
          <form class="d-flex" method="get" action="{%url 'todo:SearchTask'%}">
              {% csrf_token %}
              <input class="form-control me-2" type="search" placeholder="Search Tasks" aria-label="Search" name="nav_search">
              <button class="btn btn-outline-secondary" type="submit">Search</button>
          </form>
      {%endif%}

    </div>
  </div>
</nav>