{%extends 'base/base.html'%}
{% load humanize %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Routine list page</title>
</head>
<body>
    {%block content%}
		<h4>Your routines:</h4>
		<ul class="nav nav-tabs">
			<li class="nav-item">
			  <a class="nav-link"  href="{%url 'todo:home'%}">Tasks</a>
			</li>
			<li class="nav-item">
			  <a class="nav-link" aria-current="page" href="{%url 'todo:listProject' %}">Projects</a>
			</li>
            <li class="nav-item">
				<a class="nav-link active" aria-current="page" href="{%url 'todo:listRoutine' %}">Routine</a>
			  </li>
			<li class="nav-item">
				<a class="nav-link" aria-current="page" href="{%url 'todo:CreateRoutine' %}">Add Routine</a>
			  </li>
		  </ul>
    		{%if object_list.count == 0%}
    			<h4>No routines available... </h4>
    			<br><a class="btn btn-secondary" href="{%url 'todo:CreateRoutine'%}">Create new one!</a>
    		{%else%}
		    	{%for routine in object_list%}
	    				{{routine.count}}
						    	<table class="table table-striped table-hover table-bordered">
							        <td>
							        		  <div class="card-body">
								        		<h5 class="card-title">{{routine.title}}</h5>
								        		<hr>
								        		<li>{{routine.detail}}</li> 
                                                <li>{{routine.time}}</li>
                                                <li>Days: {% for day in routine.days.all%}{{day}} {%endfor%}</li>
								        			<br>
													<a href="{% url 'todo:updateRoutine' routine.token %}" class="btn btn-outline-secondary btn-sm">Update</a>
													<a href="{%url 'todo:DeleteRoutine' routine.token%}" class="btn btn-outline-danger btn-sm">Delete</a>
								        	  </div>
									</td>
								</table>
				
					{%endfor%}
								{% if is_paginated %}
								<hr>
								<nav aria-label="Page navigation example">
									<ul class="pagination justify-content-center pagination-sm">
										{% if page_obj.has_previous %}

										  {% if not search %}
										  <li class="page-item">
											  <a class="page-link" href="{% url 'todo:listRoutine' %}?page={{ page_obj.previous_page_number }}" tabindex="-1">Previous</a>
										  </li>
										  {% else %}
											<li class="page-item">
											  <a class="page-link" href="{% url 'todo:listRoutine' %}?{{search}}&page={{ page_obj.previous_page_number }}" tabindex="-1">Previous</a>
										  </li>
										  {% endif %}
										{% else %}
										<li class="page-item disabled">
											<a class="page-link" href="#" tabindex="-1">Previous</a>
										</li>
										{% endif %} 
										{% for object in page_obj.paginator.page_range %}
											<li class="page-item"><a class="page-link" href="{% url 'todo:listRoutine' %}?page={{ forloop.counter }}">{{ forloop.counter }}</a></li>
										{% endfor %} 
										{% if page_obj.has_next %}
										  {% if not search %}
										  <li class="page-item">
											  <a class="page-link" href="{% url 'todo:listRoutine' %}?page={{ page_obj.next_page_number }}">Next</a>
										  </li>
										  {% else %}
											<li class="page-item">
											  <a class="page-link" href="{% url 'todo:listRoutine' %}?{{search}}&page={{ page_obj.next_page_number }}">Next</a>
										  </li>
										  {% endif %}
										{% else %}
										<li class="page-item disabled">
											<a class="page-link" href="#">Next</a>
										</li>
										{% endif %}
									</ul>
								</nav>
								{% endif %}
				
			  {% endif %}
			

    {%endblock%}
</body>
</html>

<tr>
			
